/* DEBUG */
/* .debug{
    background-color: rgba(0, 255, 0, 0.2);
    border: 1px solid black;
} */


/* GENERAL */
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

:root{
    --bg-green: rgb(0, 150, 136);
    --bg-grey: rgb(216, 219, 214);
    --top-grey: rgb(234, 234, 234);
    --small: 50px;
    --medium: 75px;
}

span{
    font-size: 10px;
    color: grey;
}

i{
    font-size: 20px;
    color: rgb(177, 177, 177);
}


/* UTILS */
.d-flex{
    display: flex;
}


/* GRANDEZZE */
.friend-box,
section .search,
.message{
    min-height: var(--small);
}

section .send-message{
    min-height: var(--medium);
}


/* IMMAGINI DEI PROFILI */
.user .user-id img,
.contact .contact-id img,
.friend-image img{
    width: calc(var(--small) - 10px);
    border-radius: 50%;
    margin-right: 10px;
}


/* SECTION (LEFT & RIGHT) TOP */
section .user,
section .contact{
    background-color: var(--top-grey);
    min-height: var(--small);
    padding: 0 10px;

    display: flex;
    justify-content: space-between;
    align-items: center;
}

.user-id,
.contact-id{
    display: flex;
    align-items: center;
}

.user-icons i,
.contact-icons i{
    margin-right: 10px;
}