/*
    MAIN
*/
main{
    height: 100vh;
    background: linear-gradient(var(--bg-green) 15%, var(--bg-grey) 0);
    align-items: center;
}

main .container{
    margin: 0 auto;
    width: 90vw;
    height: 90vh;
    display: flex;
}

/*
    SECTION LEFT
*/
section.left{
    width: 30%;
}

    /* NOTIFICATION */
section .bell{
    min-height: var(--medium);
    background-color: rgb(142, 218, 252);
    align-items: center;
}
.bell i{
    color: rgb(142, 218, 252);
    background-color: white;
    margin: 10px;
    padding: 10px;
    border-radius: 50%;
}
.bell p{
    font-size: 14px;
}
.bell a{
    font-size: 10px;
    color: grey;
}
.bell a:hover{
    color: blue;
}

    /* SEARCH */
section .search{
    background-color: white;
    border: 5px solid rgb(243, 238, 234);
    align-items: center;
}
.search-btn{
    width: 15%;
    text-align: center;
}
.search-btn i{
    font-size: 16px;
}
#search-bar{
    width: 85%;
    border: none;
    outline: thin;
}

    /* FRIENDS */
section .friends{
    height: calc(100% - calc(var(--small) * 2 + var(--medium)));
    background-color: white;
    overflow-y: scroll;
}
.friend-box{
    display: flex;
    padding: 7px 10px 5px;
    border-top: 1px solid lightgrey;
}
.friend-box:hover{
    cursor: pointer;
    background-color: rgba(177, 177, 177, 0.2);
}
.friend-box.active{
    background-color: rgba(177, 177, 177, 0.6);
}
.friend-box .text{
    width: calc(100% - var(--small) - 10%);
}
.friend-box .hour{
    font-size: 8px;
}
/*
    /SECTION LEFT
*/

/*
    SECTION RIGHT
*/
section.right{
    width: 70%;
}

section .contact{
    border-left: 1px solid lightgrey;
}

section .contact span{
    color: grey;
}

section .chat{
    height: calc(100% - (var(--medium) + var(--small)));
    background-image: url(/img/mine.jpg);
    overflow-y: scroll;
    overflow-x: none;
}

    /* MSG */
.container-msg{
    width: 100%;
    height: 100%;
    padding: 5%;
}
.msg-row{
    margin: 10px 0;
    display: flex;
}
.msg-row.sent{
    justify-content: end;
}
.msg-row.received{
    justify-content: start;
}
.message{
    max-width: 60%;
    min-width: 40%;
    padding: 10px 10px 15px;
    border-radius: 10px;
    position: relative;
}
.message.sent{
    background-color: rgb(213, 249, 186);
}
.message.received{
    background-color: white;
}
.message.sent:hover,
.message.received:hover{
    cursor: pointer;
    background-color: rgba(177, 177, 177, 0.5);
}
.msg-time{
    position: absolute;
    right: 5px;
    bottom: 5px;
}

.message i{
    display: none;

    position: absolute;
    right: 5px;
    top: 5px;

    color: rgb(177, 177, 177);
}
.message:hover i{
    display: inline;
}
.message i.active{
    transform: rotateX(180deg);
}
#chevron-window{
    display: none;
}
#chevron-window.active{
    display: block;
    transform: rotateX(180deg);

    position: absolute;
    bottom: 15px;

    width: 150px;
    padding: 12px;
    font-size: 14px;
    background-color: white;
    box-shadow: 1px 1px 1px 1px grey;
}
.received #chevron-window.active{
    left: 0px;
}
.sent #chevron-window.active{   
    right: 0px;
}
#chevron-window.active:hover{
    color: grey;
    cursor: pointer;
}
    /* /MSG */

section .send-message{
    background-color: rgb(243, 238, 234);
    justify-content: space-between;
    align-items: center;
}

.send-text{
    width: 80%;
}
.send-text input{
    width: 100%;
    min-height: var(--small);
    border: 0;
    border-radius: 10px;
    padding: 15px
}
.send-message .icon-container{
    width: 10%;

    display: flex;
    justify-content: center;
    align-items: center;
}
/*
    /SECTION RIGHT
*/
/*
    /MAIN
*/