/*
    GENERAL
*/
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

:root{
    --bg-green: rgb(0, 150, 136);
    --bg-grey: rgb(216, 219, 214);
    --top-grey: rgb(234, 234, 234);
    --small: 50px;
    --medium: 75px;
}

span{
    font-size: 10px;
    color: lightgrey;
}
/*
    /GENERAL
*/


/*
    BACKGROUND
*/
.bg-up{
    height: calc(100vh / 7);
    min-height: 50px;
    background-color: var(--bg-green);
}
.bg-down{
    height: calc(calc(100vh / 7) * 6);
    background-color: var(--bg-grey);
}
/*
    /BACKGROUND
*/


/*
    MAIN
*/
main .container{
    width: 90vw;
    height: 90vh;
    display: flex;
}

/*
    SECTION LEFT
*/
section.left{
    width: 30%;
}

section .bell{
    min-height: var(--medium);
    background-color: rgb(142, 218, 252);
}

section .search{
    background-color: white;
    border: 5px solid rgb(243, 238, 234);
}

    /* FRIENDS */
section .friends{
    height: calc(100% - calc(var(--small) * 2 + var(--medium)));
    background-color: white;
    overflow: auto;
}
.friend-box{
    display: flex;
    padding: 7px 10px 5px;
    border-top: 1px solid lightgrey;
}
.friend-box .text{
    width: calc(100% - var(--small) - 10%);
}
.friend-box .hour{
    width: 10%;
    font-size: 8px;
}
/*
    /SECTION LEFT
*/

/*
    SECTION RIGHT
*/
section.right{
    width: 70%;
}

section .contact{
    border-left: 1px solid lightgrey;
}

section .contact span{
    color: grey;
}

section .chat{
    height: calc(100% - (var(--medium) + var(--small)));
    background-image: url(/img/mine.jpg);
}

    /* MSG */
.container-msg{
    width: 100%;
    height: 100%;
    padding: 5%;
}
.msg-row{
    margin: 10px 0;
    display: flex;
}
.msg-row.sended{
    justify-content: end;
}
.msg-row.received{
    justify-content: start;
}
.message{
    max-width: 60%;
    min-width: 200px;
    padding: 10px 10px 15px;
    border-radius: 10px;
}
.message.sended{
    background-color: rgb(213, 249, 186);
}
.message.received{
    background-color: white;
}
    /* /MSG */

section .send-message{
    background-color: rgb(243, 238, 234);
}
/*
    /SECTION RIGHT
*/
/*
    /MAIN
*/