/* DEBUG */
.debug{
    background-color: rgba(0, 255, 0, 0.2);
    border: 1px solid black;
}

/* GENERAL */
.d-flex{
    display: flex;
}

.p-fixed{
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

/* GRANDEZZE */

.friend-box,
section .search,
.message{
    min-height: var(--small);
}

section .user,
section .contact,
section .send-message{
    min-height: var(--medium);
}
