<!DOCTYPE html>
<html lang="it">
<head>

    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Esercizio - Whatsapp responsive(?)</title>

    <!-- <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous"> -->
    <link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.0/css/all.min.css' integrity='sha512-10/jx2EXwxxWqCLX/hHth/vu2KY3jCF70dCQB8TSgNjbCVAC/8vai53GfMDrO2Emgwccf2pJqxct9ehpzG+MTw==' crossorigin='anonymous'/>    
    
    <link rel="stylesheet" href="css/style.css">
    <link rel="stylesheet" href="css/general.css">
</head>
<body>
    
    <div class="background">
        <div class="bg-up"></div>
        <div class="bg-down"></div>
    </div>

    <main id="app" class="d-flex">
        <div class="debug container">

            <!-- LISTA AMICI -->
            <section class="debug left">
                <div class="debug user">
                    <div class="debug user-id">
                        <img :src="`img/avatar${user.avatar}.jpg`" :alt="user.name">
                        <p class="name">{{user.name}}</p>
                    </div>
                    <div class="debug user-icons">
                        <i class="fa-solid fa-circle-notch"
                            @click=></i>
                        <i class="fa-solid fa-message"></i>
                        <i class="fa-solid fa-ellipsis-vertical"></i>
                    </div>
                </div>
                <div class="debug bell"></div>
                <div class="debug search"></div>
                <div class="debug friends">
                    <div 
                        class="debug friend-box"
                        v-for="(user, i) in dataArray"
                        @click="changeChat(i)">
                        <div class="friend-image">
                            <img class="debug" :src="`img/avatar${user.avatar}.jpg`" :alt="user.avatar">
                        </div>
                        <div class="debug text">
                            <p>{{user.name}}</p>
                            <span>{{user.messages[lastMessage].message}}</span>
                        </div>
                        <div class="debug hour">{{user.messages[lastMessage].date}}</div>
                    </div>
                </div>
            </section>
            <!-- /LISTA AMICI -->

            <!-- CHAT ATTIVA -->
            <section class="debug right">
                <div class="debug contact">
                    <div class="debug contact-id">
                        <img :src="`img/avatar${dataArray[currentContactIndex].avatar}.jpg`" :alt="dataArray[currentContactIndex].name">
                        <div class="contact-text">
                            <p class="name">{{dataArray[currentContactIndex].name}}</p>
                            <span>Ultimo accesso oggi alle 12.00</span>
                        </div>
                    </div>
                    <div class="debug contact-icons">
                        <i class="fa-solid fa-magnifying-glass"></i>
                        <i class="fa-solid fa-paperclip"></i>
                        <i class="fa-solid fa-ellipsis-vertical"></i>
                    </div>
                </div>
                <div class="debug chat">

                    <!-- Esempio di chat -->
                    <div class="container-msg">
                        <div class="msg-row sent"
                            v-for="(el, i) in dataArray[currentContactIndex].messages"
                            :class="el.status">
                            <div class="message"
                                :class="el.status">
                                <p>{{el.message}}</p>
                                <span class="msg-time">{{el.date}}</span>
                            </div>
                        </div>
                    </div>
                    <!-- /Esempio di chat -->

                </div>
                <div class="debug send-message"></div>
            </section>
            <!-- CHAT ATTIVA -->

        </div>
    </main>

    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.14/dist/vue.js"></script>
    <script src="js/script.js"></script>
</body>
</html>